@charset "UTF-8";
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.servicios__contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 75px 8% 60px;
}
.servicios__cabecera, .trabajos__cabecera, .skills__cabecera {
  max-width: 70rem;
  margin: 0px auto 4.5rem;
  text-align: center;
}
.servicios__cabecera h1, .trabajos__cabecera h1, .skills__cabecera h1 {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.servicios__cabecera h1::before, .trabajos__cabecera h1::before, .skills__cabecera h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 120%;
  left: 0;
  background-color: #aaabb0;
}
.servicios__cabecera h1::after, .trabajos__cabecera h1::after, .skills__cabecera h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 1px);
  left: 0;
  background-color: #F03434;
}
.servicios__cabecera p, .trabajos__cabecera p, .skills__cabecera p {
  color: #fff;
  font-size: 2rem;
}
.servicios__contenido, .trabajos__contenido, .skills__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .servicios__contenido, .trabajos__contenido, .skills__contenido {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (max-width: 480px) {
  .servicios__contenido, .trabajos__contenido, .skills__contenido {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
.servicios__card, .trabajos__card, .skills__card {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px 35px;
  background-color: #000000;
  border: 1px solid #111111;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}
.servicios__card:hover, .trabajos__card:hover, .skills__card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 18px 0px #000;
}
.servicios__card i, .trabajos__card i, .skills__card i {
  font-size: 4rem;
  color: #EA1C1C;
}
.servicios__card h2, .trabajos__card h2, .skills__card h2 {
  text-align: center;
  font-size: 2.7rem;
  padding: 15px 0px 10px;
  color: #adb5bd;
}
.servicios__card p, .trabajos__card p, .skills__card p {
  color: #6b7279;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.servicios__contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 75px 8% 60px;
}
.servicios__cabecera, .trabajos__cabecera, .skills__cabecera {
  max-width: 70rem;
  margin: 0px auto 4.5rem;
  text-align: center;
}
.servicios__cabecera h1, .trabajos__cabecera h1, .skills__cabecera h1 {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.servicios__cabecera h1::before, .trabajos__cabecera h1::before, .skills__cabecera h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 120%;
  left: 0;
  background-color: #aaabb0;
}
.servicios__cabecera h1::after, .trabajos__cabecera h1::after, .skills__cabecera h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 1px);
  left: 0;
  background-color: #F03434;
}
.servicios__cabecera p, .trabajos__cabecera p, .skills__cabecera p {
  color: #fff;
  font-size: 2rem;
}
.servicios__contenido, .trabajos__contenido, .skills__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .servicios__contenido, .trabajos__contenido, .skills__contenido {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (max-width: 480px) {
  .servicios__contenido, .trabajos__contenido, .skills__contenido {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
.servicios__card, .trabajos__card, .skills__card {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px 35px;
  background-color: #000000;
  border: 1px solid #111111;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}
.servicios__card:hover, .trabajos__card:hover, .skills__card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 18px 0px #000;
}
.servicios__card i, .trabajos__card i, .skills__card i {
  font-size: 4rem;
  color: #EA1C1C;
}
.servicios__card h2, .trabajos__card h2, .skills__card h2 {
  text-align: center;
  font-size: 2.7rem;
  padding: 15px 0px 10px;
  color: #adb5bd;
}
.servicios__card p, .trabajos__card p, .skills__card p {
  color: #6b7279;
}

.skills__contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 75px 8% 60px;
}
.skills__card img {
  margin: auto;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.contact__contenedor {
  height: 100%;
  padding: 1.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .contact__contenedor {
    font-size: 2rem;
    margin-bottom: 7px;
  }
}
.contact__contenedor h1 {
  color: #f89e52;
  text-transform: capitalize;
  margin: 1.5rem;
}
.contact__contenedor h3 {
  color: #d2d2d2;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  text-transform: capitalize;
}
.contact__contenido {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #1d1d25;
  border-radius: 30px;
  padding: 2rem;
}
.contact__form {
  color: #444;
  padding: 1.5rem;
}
@media (max-width: 768px) {
  .contact__form {
    margin: 0 auto;
  }
}
.contact__form button {
  background-color: #f89e52;
  padding: 1.5rem;
  color: #fff;
  border-radius: 10px;
  border: 0;
  font-size: 2rem;
  transition: 0.5s;
  width: 15rem;
}
@media (max-width: 768px) {
  .contact__form button {
    width: 100%;
  }
}
.contact__form button:hover {
  background-color: transparent;
  border: 1px solid #fff;
}
.contact__row {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  width: 100%;
}
@media (max-width: 768px) {
  .contact__row {
    flex-direction: column;
  }
}
.contact__col {
  width: 100%;
  margin: 7px;
}
.contact__col input, .contact__col textarea {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  width: 100%;
  min-width: 32rem;
  padding: 1rem;
  color: #fff;
}
.contact__col textarea {
  resize: none;
  min-width: 40rem;
  width: 100%;
}
.contact__details {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  margin-top: 1.4rem;
}
@media (max-width: 768px) {
  .contact__details {
    margin-top: 4rem;
    margin: 0 auto;
    text-align: center;
  }
}
.contact__details .text {
  padding: 1rem;
}
.contact__details .text h2 {
  color: #d7d7d7;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}
.contact__details .text p {
  color: #555;
  margin-bottom: 3px;
}
.contact__icon {
  width: 60px;
  transition: 0.5s;
}
.contact__icon:hover {
  transform: scale(1.1);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.trabajos__contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 75px 8% 60px;
}
.trabajos__card img {
  margin: auto;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.servicios__contenedor {
  width: 100%;
  min-height: 100vh;
  padding: 75px 8% 60px;
}
.servicios__cabecera, .skills__cabecera, .trabajos__cabecera {
  max-width: 70rem;
  margin: 0px auto 4.5rem;
  text-align: center;
}
.servicios__cabecera h1, .skills__cabecera h1, .trabajos__cabecera h1 {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem;
}
.servicios__cabecera h1::before, .skills__cabecera h1::before, .trabajos__cabecera h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 120%;
  left: 0;
  background-color: #aaabb0;
}
.servicios__cabecera h1::after, .skills__cabecera h1::after, .trabajos__cabecera h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(120% - 1px);
  left: 0;
  background-color: #F03434;
}
.servicios__cabecera p, .skills__cabecera p, .trabajos__cabecera p {
  color: #fff;
  font-size: 2rem;
}
.servicios__contenido, .skills__contenido, .trabajos__contenido {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .servicios__contenido, .skills__contenido, .trabajos__contenido {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (max-width: 480px) {
  .servicios__contenido, .skills__contenido, .trabajos__contenido {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
.servicios__card, .skills__card, .trabajos__card {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 20px 35px;
  background-color: #000000;
  border: 1px solid #111111;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.4s, box-shadow 0.4s;
}
.servicios__card:hover, .skills__card:hover, .trabajos__card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 18px 0px #000;
}
.servicios__card i, .skills__card i, .trabajos__card i {
  font-size: 4rem;
  color: #EA1C1C;
}
.servicios__card h2, .skills__card h2, .trabajos__card h2 {
  text-align: center;
  font-size: 2.7rem;
  padding: 15px 0px 10px;
  color: #adb5bd;
}
.servicios__card p, .skills__card p, .trabajos__card p {
  color: #6b7279;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.about {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about__contenedor {
  width: 100%;
  padding: 50px 8%;
}
.about__img {
  grid-area: imgSect;
}
.about__info {
  grid-area: infoSect;
}
.about__skills {
  grid-area: skillSect;
}
.about__contenido {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 7rem;
  grid-template-areas: "imgSect infoSect" "skillSect skillSect";
}
@media (max-width: 1068px) {
  .about__contenido {
    grid-template-areas: "imgSect skillSect" "infoSect infoSect";
  }
}
@media (max-width: 768px) {
  .about__contenido {
    grid-template-areas: "imgSect imgSect" "infoSect infoSect" "skillSect skillSect";
  }
}
.about__img {
  position: relative;
  min-width: 30rem;
  height: 38rem;
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.about__img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  outline: 3px solid #787cb5;
  top: 0px;
  left: 2px;
  z-index: 1;
}
.about__info h2 {
  color: #dedce1;
  font-size: 3.5rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 2rem;
  position: relative;
}
.about__info h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 110%;
  left: 0;
  background-color: #aaabb0;
}
.about__info h2::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  top: calc(110% - 1px);
  left: 0;
  background-color: #EA1C1C;
}
.about__info h3 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #EA1C1C;
  padding: 1.4rem 0px 1.4rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.about__info p {
  color: #aaabb0;
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  padding-bottom: 0.8rem;
}
.about__info--personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
  margin-top: 1.4rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(92, 83, 83);
}
@media (max-width: 768px) {
  .about__info--personal {
    grid-template-columns: 1fr;
  }
}
.about__info--personal div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about__info--personal div span {
  color: #aaabb0;
  letter-spacing: 1px;
}
.about__info-btn button {
  min-width: 15rem;
  padding: 0.8rem 1.8rem;
  border-radius: 2.5rem;
  font-size: 2rem;
  background-color: #2b2a2f;
  color: #aaabb0;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.4s;
  margin-top: 2rem;
}
.about__info-btn button:hover {
  color: #787cb5;
  border-color: #aaabb0;
}
.about__skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 8rem;
}
@media (max-width: 1068px) {
  .about__skills {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.about__skills .skill__subject {
  font-size: 2rem;
  font-weight: thin;
  color: #aaabb0;
  padding-bottom: 1rem;
  letter-spacing: 1px;
}
.about__skills .skill__progress_bar {
  width: 100%;
  height: 1.6rem;
  background-color: #2b2a2f;
  padding: 0.4rem 0.6rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #444;
  border-radius: 15px;
}
.about__skills .skill__progress_line {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F03434;
  box-shadow: -1px -1px 2px #222222, 1px 1px 2px #111111;
  border-radius: 15px;
}
.about__skills .skill__progress_line::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0px;
  transform: translateX(-50%);
  color: #aaabb0;
  font-size: 2rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 2;
  background-image: url(../img/background.webp);
}

/* globals */
h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  margin: 0 0 5rem 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.error-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}
.error-404 h1 {
  font-size: 7em;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 480px) {
  .error-404 h1 {
    font-size: 6em;
  }
}
.error-404 h1 span::after {
  content: "🙁";
  font-size: 0.9em;
  animation: clock 5s linear infinite;
}
.error-404 h2 {
  font-weight: bold;
  line-height: 1.2;
}
.error-404 h4 {
  font-size: 3em;
  margin: 0;
}
.error-404 a {
  font-size: 1.5em;
  border: 3px solid;
  margin-bottom: 4rem;
  text-decoration: none;
  color: white;
  border-radius: 3rem;
  padding: 1rem;
  background-color: #001a2b;
}
@media (max-width: 480px) {
  .error-404 a {
    width: 100%;
    text-align: center;
  }
}
.error-404 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  left: 0;
  top: -200%;
  border-radius: 50%;
  transition: all 0.6s ease;
  z-index: -1;
}
.error-404 a:hover {
  background-color: #001a2b;
  box-shadow: 0 0 20px #EA1C1C;
  border-color: #EA1C1C;
}
.error-404 img {
  border-radius: 2rem;
}

.navbar-brand {
  color: #EA1C1C;
  font-size: 4rem;
  font-family: "Staatliches", cursive;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.navbar-brand:hover {
  color: #EA1C1C;
}
.navbar-brand b {
  color: #fff;
}

.links li a {
  color: #fff;
  font-family: "Khula", sans-serif;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  position: relative;
}
.links li a::before {
  content: "";
  background-color: #F03434;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 0.3rem;
  width: 0;
  transition: 0.3s ease-in-out;
}
.links li a:hover {
  color: #EA1C1C;
}
.links li a:hover::before {
  content: "";
  background-color: #F03434;
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  height: 0.3rem;
  width: 100%;
}

.link-contact {
  display: inline-block;
  background: transparent;
  border: 0.2rem solid #EA1C1C;
  padding: 0.9rem 2.8rem;
  border-radius: 3rem;
  line-height: 1.3;
  color: #EA1C1C;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
}
.link-contact:hover {
  transition: 0.4s;
  background: #EA1C1C;
  color: white;
  border: 0.2rem solid transparent;
}
@media (max-width: 480px) {
  .link-contact {
    border: none;
    padding: 1rem;
  }
}

.cols {
  width: 50%;
}
@media (max-width: 480px) {
  .cols {
    width: 75%;
  }
}

.cols0 {
  width: 74%;
  z-index: 5;
}
@media (max-width: 768px) {
  .cols0 {
    width: 100%;
    height: 65%;
  }
}

.envoltorio {
  display: flex;
  width: 100%;
  height: calc(100vh - 120px);
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
  color: #fff;
}
@media (max-width: 1280px) {
  .envoltorio {
    padding: 0 6%;
  }
}
@media (max-width: 768px) {
  .envoltorio {
    flex-direction: column-reverse;
    padding: 0 5%;
    margin: 0%;
  }
}
.envoltorio::before {
  position: absolute;
  content: "";
  height: 56rem;
  width: 56rem;
  border-radius: 50%;
  left: -12%;
  top: 45%;
  background: linear-gradient(45deg, #EA1C1C, #F18686);
  animation: object1 6s linear infinite;
}
@media (max-width: 768px) {
  .envoltorio::before {
    animation: none;
    height: 40rem;
    width: 40rem;
    left: -30%;
    top: 48%;
  }
}
@media (max-width: 480px) {
  .envoltorio::before {
    height: 22rem;
    width: 22rem;
    top: 50%;
  }
}
.envoltorio::after {
  position: absolute;
  content: "";
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  left: 35%;
  top: 12%;
  background: linear-gradient(45deg, #EA1C1C, #F18686);
  animation: object2 6s linear infinite;
}
@media (max-width: 768px) {
  .envoltorio::after {
    animation: none;
    height: 10rem;
    width: 10rem;
    left: 70%;
    top: 35%;
  }
}
@keyframes object1 {
  50% {
    left: -13%;
    top: 41%;
  }
}
@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}
.envoltorio__topline {
  display: block;
  position: relative;
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: #fff;
}
@media (max-width: 768px) {
  .envoltorio__topline {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  .envoltorio__topline {
    font-size: 2rem;
  }
}
.envoltorio__topline::after {
  position: absolute;
  content: "";
  height: 0.4rem;
  width: 4.5rem;
  bottom: 2.2rem;
  background-color: #F18686;
}
@media (max-width: 768px) {
  .envoltorio__topline::after {
    bottom: 1.4rem;
  }
}
.envoltorio__titulo {
  display: block;
  font-size: 6.6em;
  font-weight: 900;
  color: #808286;
}
@media (max-width: 1280px) {
  .envoltorio__titulo {
    font-size: 5.1em;
  }
}
@media (max-width: 768px) {
  .envoltorio__titulo {
    font-size: 5em;
  }
}
@media (max-width: 480px) {
  .envoltorio__titulo {
    font-size: 2.6em;
    margin: 1rem;
  }
}
.envoltorio__multiText {
  text-transform: capitalize;
  color: #EA1C1C;
}
.envoltorio__parrafo {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 3rem;
}
.envoltorio__btns {
  width: 100%;
  position: relative;
  left: 50px;
}
@media (max-width: 480px) {
  .envoltorio__btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0px;
  }
}
.envoltorio__btns button, .envoltorio__btns a {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 400;
  color: #fff;
  background-color: #F03434;
  padding: 0.8rem 1.4rem;
  margin: 4rem 0.5rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  box-shadow: 0 0 5px #F03434;
}
.envoltorio__btns button:hover, .envoltorio__btns a:hover {
  box-shadow: 0 0 5px #F03434, 0 0 25px #F03434;
}
@media (max-width: 480px) {
  .envoltorio__btns button, .envoltorio__btns a {
    margin: 1rem;
    width: 100%;
  }
}
.envoltorio__imgbox {
  position: relative;
  width: 100%;
  height: 100%;
}
.envoltorio__imgbox img {
  position: relative;
  height: 100%;
  width: calc(130% - 80px);
  top: -100px;
  right: 50px;
  transform: rotateY(180deg);
  animation: movimiento 4s linear infinite;
}
@media (max-width: 768px) {
  .envoltorio__imgbox img {
    animation: none;
    top: -75px;
  }
}
@media (max-width: 480px) {
  .envoltorio__imgbox img {
    width: 93%;
  }
}
.envoltorio__imgbox #mancha {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-35deg);
  width: 160%;
  filter: saturate(200%);
  animation: movimiento-mancha 4s linear infinite;
}
@media (max-width: 768px) {
  .envoltorio__imgbox #mancha {
    animation: none;
    transform: none;
    top: -27%;
    left: -10%;
  }
}
@keyframes movimiento {
  50% {
    right: 30px;
    top: -90px;
  }
}
@keyframes movimiento-mancha {
  50% {
    top: 49%;
    left: 51%;
    width: 155%;
  }
}

.curso-titulo {
  text-align: center;
  margin-top: 4rem;
  color: #dedce1;
  font-size: 6em;
}
@media (max-width: 768px) {
  .curso-titulo {
    font-size: 4em;
  }
}

.contenedor-curso {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  max-width: 120rem;
  margin: 0 auto;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  width: 114em;
  margin-top: 6rem;
}
@media (max-width: 768px) {
  .cursos {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (max-width: 480px) {
  .cursos {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
.cursos__item {
  background-color: #808286;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0 5px #F03434;
  transition: 0.2s;
}
.cursos__item:hover {
  transform: translateY(10px);
  box-shadow: 0 0 5px #F03434, 0 0 25px #F03434, 0 0 50px #F03434;
}
.cursos__img {
  display: block;
  width: 100%;
  object-fit: contain;
}
.cursos__contenido {
  padding: 3rem;
}
.cursos__titulo {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
.cursos__text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: white;
  margin-bottom: 2.6rem;
}
.cursos__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 0.5em;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.cursos__btn a {
  color: white;
}
.cursos__btn a:hover {
  color: #EA1C1C;
}

.footer {
  background-color: #2d2a30;
  width: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}
@media (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 2em;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 8rem;
  }
}
.footer__links {
  color: #EA1C1C;
  margin: 20px 0 12px;
}
.footer__links a {
  color: #fff;
  font-size: 2rem;
}
.footer__copyright {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer__icons p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer__icons p a {
  color: #F03434;
  text-decoration: none;
}
.footer__icons p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer__icons i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer__icons i .fa {
  font-size: 17px;
  line-height: 38px;
}
.footer__about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer__about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer__redes {
  margin-top: 2.5rem;
}
.footer__redes a {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
}
.footer__redes a:hover {
  color: #EA1C1C;
}

/*# sourceMappingURL=style.css.map */
