// vARIBALES

     //COLORS

$primary-color: #EA1C1C;
$secondary-color: #F03434;
$light-red: #F18686;
$gray: #808286;
$testimony-color: #3b7cf5;
$white: #fff;
$footer-bg:#2d2a30;
$footer-bg2:#33383b;
$contact-color-1: #f89e52;
$contact-color-2: #d2d2d2;
$contact-bg: #1d1d25;


    // FONTS

$font-headings:  'Roboto', sans-serif;
$font-paragraph:  'Lato', sans-serif;
$font-logo:  'Staatliches', cursive;
$font-enlaces: 'Khula', sans-serif;


 
